// ==========================================================================
// TOPBAR: HIDE HOME BUTTON
// ==========================================================================

#head .button[title="Home"] {
  display: none !important;
}
