// ==========================================================================
// TOPBAR: HIDE SYNC INDICATOR
// ==========================================================================

.cp__file-sync-indicator {
  display: none !important;
}
